/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700;800&display=swap');

.font-poppins {
    font-family: 'Poppins', sans-serif !important;
}

.font-garamond {
    font-family: 'EB Garamond', serif !important;
}

.text-medium {
    font-weight: 500 !important;
}

.text-semibold {
    font-weight: 600 !important;
}

.text-bold {
    font-weight: 700 !important;
}

.text-extrabold {
    font-weight: 800 !important;
}

/* Button */
.btn-ls-primary {
    background-color: #B68C5A;
    border: 0;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 600 !important;
    padding: 18px 30px;
    color: white;
}

.btn-ls-primary:hover {
    background-color: #816440;
}

/* Text Color */
.text-light-medium {
    color: #E7E7E7;
}

.text-gray-medium {
    color: #707070;
}

.text-gray-bold {
    color: #414040;
}

/* Hero Section */
.hero-section {
    background-image: url(../images/banner.png), linear-gradient(360deg, #111111 0%, rgba(17, 17, 17, 0) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    width: 100%;
    height: 80vh;
}

/* Media Queries */
/* Mobile Devices */
@media only screen and (max-width:576px) {
    .hero-section {
        background-image: url(../images/banner-small.png), linear-gradient(360deg, #111111 0%, rgba(17, 17, 17, 0) 100%);
    }

    .carousel-caption {
        padding: 0;
    }

    .carousel-caption img {
        margin-bottom: 5px !important;
        width: 15%;
    }

    .carousel-caption small,
    h5 {
        display: none;
    }

    .carousel-caption p {
        font-size: 10px;
        margin-top: 0 !important;
        margin-bottom: 0;
    }

}

/* Tablet Devices */
@media only screen and (min-width:577px) and (max-width:992px) {
    .hero-section {
        height: 40vh;
    }

    .practice-section .row .p-5 {
        padding: 15px 10px !important;
    }

    .carousel-caption img {
        display: none;
    }
}